@import url('https://fonts.googleapis.com/css2?family=Oswald:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.hackingdevice {
    margin: auto;
    margin-top: 30vh;
    width: 540px;
    min-width: 540px;
    max-width: 540px;
    background-color: #232832;
    padding: 30px 0;
    display: none;
}
.hackingdevice-splash{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
}
.hackingdevice-splash .hackingdevice-hacker{
    transform: translateX(-50%);
    font-size: 3em; /* Adjust the font size as needed */
    margin-left: 3vh;
}
.hackingdevice-splash .hackingdevice-text{
    font-family: 'Oswald', sans-serif !important;
    display: block;
    margin-top: 1.5em; /* Adjust the margin based on your preference */
}
.hackingdevice .hackingdevice-find{
    font-family: 'Oswald', sans-serif !important;
    text-align: center;
    color: white;
    font-size: 30px;
    user-select: none;
    margin-top: 10px;
}

.hackingdevice .hackingdevice-find > div{
    display: inline-block;
}
.hackingdevice .hackingdevice-timer{
    text-align: center;
    color: green;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif !important;
}
.hackingdevice .hackingdevice-codes {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: auto;
}
.hackingdevice .hackingdevice-codes > div{
    flex: 1 0 10%;
    margin: 7px 0;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Oswald', sans-serif !important;
}
.hackingdevice .hackingdevice-codes > div.red{
    color: red;
}
.hackingdevice .hackingdevice-codes > div.green{
    color: green;
}
.hackingdevice .hackingdevice-mirrored .hackingdevice-find > div,
.hackingdevice .hackingdevice-mirrored .hackingdevice-codes > div {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}